


.App-header {
  background-color: #8a8a8b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding-left: 70px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: fantasy;
}