.container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(213, 223, 223);
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column-reverse;
    margin: 1em;
    width: 200px;
    height: 200px;
    border: black 1px solid;
    
}
.card-img-top{
    margin :8px;
    margin: auto;
    width: 90%; 
    max-height: 160px;
    flex-grow: 8;
}
.card-text{
    font-family: fantasy;
    margin: 2px;
    text-align: center; 
    flex-grow: 2;
    
}