.container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column-reverse;
    margin: 1em;
    width: 200px;
    height: 200px;
    border: brown solid;
    background-color: rgb(217, 228, 248);
}
.card-img-top{
    margin :8px;
    margin: auto;
    width: 90%; 
    max-height: 160px;
    flex-grow: 8;
}
.card-text{
    margin: 2px;
    text-align: center; 
    flex-grow: 2;
    
}